<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',path='/csss/base.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',path='/csss/bootstrap.css')}}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TodoApp</title>
  </head>
  <body>
    {% include 'navbar.html' %} {% block content %} {% endblock %}
    <script src="{{ url_for('static',path='jss/popper.js') }}"></script>
    <script src="{{ url_for('static',path='jss/jquery-slim.js') }}"></script>
    <script src="{{ url_for('static',path='jss/bootstrap.js') }}"></script>
    <script src="{{ url_for('static',path='jss/base.js') }}" defer></script>
  </body>
</html>
